{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The tag below includes the theme header - partials/header.hbs }}
{{> header}}

{{! The main content area on the error page }}
<main class="content" role="main">
    <section class="inner">
        <div class="page-box">
            <header class="page-header">
				<h1 class="page-title">404: Page Not Found</h1>
			</header><!-- .page-header -->
			<div class="page-content">
				<p>Apologies, but the page you requested could not be found. <br><a class="error-link" href="{{@blog.url}}">Go to the front page →</a></p>
			</div><!-- .page-content -->
    </section><!-- .inner -->
</main><!-- .content -->

{{! The tag below includes the theme footer - partials/footer.hbs }}
{{> footer}}
