<footer class="site-footer" role="contentinfo">
	<div class="inner">
		<div class="social-links">
	        <a href="http://www.twitter.com/cnunciato" class="icon-twitter"><span class="screen-reader-text">Twitter</span></a>
	        <a href="https://www.flickr.com/photos/cnunciato" class="icon-flickr"><span class="screen-reader-text">Flickr</span></a>
	        <a href="https://github.com/cnunciato" class="icon-github"><span class="screen-reader-text">GitHub</span></a>
	        <a href="https://vimeo.com/cnunciato" class="icon-vimeo"><span class="screen-reader-text">Vimeo</span></a>
	        <a href="https://www.behance.net/cnunciato" class="icon-behance"><span class="screen-reader-text">Behance</span></a>
		</div><!-- .social-links -->
		<div class="copyright">
			&copy; <a href="/">{{@blog.title}}</a> all rights reserved.<br /> Proudly published with <a href="https://ghost.org">Ghost</a>
			and managed with <a href="https://chef.io">Chef</a>.
		</div><!-- .copyright -->
		<a id="jump-top" class="icon-angle-up" href="#"><span class="screen-reader-text">Back To Top</span></a>
	</div><!-- .inner -->
</footer><!-- .site-footer -->
