<h3 id="menu-toggle" class="icon-list">Menu</h3>
<div class="nav-menu">
    <ul class="menu">
        {{#foreach navigation}}
            <li class="menu-item {{slug}} {{#if current}} current-menu-item{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
</div>
